:host {
    display: block;
    width: 400px;
    max-width: 100%;
}

mat-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem;

    mat-card-header {
        margin-bottom: 2rem;
    }

    mat-card-content {
        width: 100%;
        margin-bottom: 2rem;
    }
}

