mat-card {
    max-width: 400px;
    width: 100%;
    padding: 2rem;

    mat-card-header {
        margin-bottom: 1.5rem;

        mat-card-title {
            font-size: 1.5rem;
            text-align: center;
        }
    }

    mat-card-content {
        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        mat-form-field {
            width: 100%;
        }
    }

    mat-card-actions {
        display: flex;
        justify-content: space-around;
        padding-top: 1rem;

        button {
            height: 48px;
            border-radius: 4px;

            mat-spinner {
                display: inline-block;
                margin: 0 auto;
            }
        }
    }
}
