include ../components/navbar.pug
include ../components/post-mixins.pug

doctype html
html(lang="en")
    head
        block variables
            - const activeTitle = ''
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="../../public/assets/favicon.svg" type="image/svg+xml")
        title= activeTitle ? activeTitle + ' - Панель Администратора' : 'Панель Администратора'
        link(rel="stylesheet" href="../../public/scss/style.scss")
        block head

    body
        +navbar(navbarOptions, activeTitle)
        main
            block content
