.create-post-card {
    &__header {
        margin-bottom: 1rem;
    }
    &__title {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 500;
    }
    &__content {
        margin-bottom: 1rem;
    }
    &__field {
        width: 100%;
        margin-bottom: 1rem;
    }
    &__label {
        font-size: 1rem;
    }
    &__input,
    &__textarea {
        width: 100%;
    }
    &__actions {
        display: flex;
        gap: 0.5rem;
        justify-content: flex-end;
    }
    &__button {
        min-width: 100px;
    }
}