@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Pangolin&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0; /* убираем стандартные отступы браузера */
    --background-wallpaper-web: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
    --background-wallpaper-light: url("../wallpaper-light.png");
}

body.index {
    color-scheme: light dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-wallpaper-light) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh; /* занять всю высоту окна */
    gap: 16px; /* расстояние между h1 и form */
    padding: 16px; /* отступы для маленьких экранов */
    color: white;
}

body.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-wallpaper-light) no-repeat center center fixed;
    background-size: cover;
}

h1.title {
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    font-style: normal;
    display: block;
    text-align: center;
    margin: 0;
}

div.player-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; /* расстояние между полем и кнопкой */
    width: 360px; /* желаемая ширина формы на больших экранах */
    max-width: 100%; /* адаптация под мобильные устройства */
    border: 2px solid white;
    border-radius: 16px;
    backdrop-filter: blur(12px) brightness(0.8);
    padding: 16px;
}

img.img-icon {
    width: 100px;
    height: 100px;
}

canvas.field {
    border: 2px solid white;
    border-radius: 16px;
    backdrop-filter: blur(12px) brightness(0.8);
}

div.player-information label.input-player-label{
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

div.player-information input[type="text"] {
    width: 100%;
    padding: 8px 10px;
    font-size: 16px;
}


input[type="submit"].submit-button, button.submit-button {
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    font-style: normal;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}