@mixin auth-card-base() {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1.5rem;
        width: 400px;
        max-width: 100%;
    }

    &__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }
}

@mixin auth-page-base() {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100dvh;
}