$breakpoints: (
    xs: 0,
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    xxl: 1536px
);

@mixin min($size) {
    @media (min-width: map-get($breakpoints, $size)) {
        @content;
    }
}


@mixin max($size) {
    @media (max-width: map-get($breakpoints, $size)) {
        @content;
    }
}

@mixin between($min, $max) {
    @media (min-width: map-get($breakpoints, $min)) and (max-width: map-get($breakpoints, $max)) {
        @content;
    }
}