.body {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    font-family: Arial, sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.canvas {
    border: 2px solid black;
    background-color: #d3d3d3;
}