doctype html
html
    head
        title Лента
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
        script(src="/bootstrap/js/bootstrap.bundle.min.js" defer)
body