doctype html
html lang="en" data-bs-theme="light"
head
    link(rel="stylesheet", href="/css/style.css")
    script(src="/bootstrap/js/bootstrap.bundle.min.js" defer)
    block head
body
    block content