extends layout

block head
    - const activeLink = 'posts'
    -
        const navbarOptions = {
            actions: [
                { text: 'Все', onclick: 'filterPosts("all")', icon: 'bi bi-list-ul' },
                { text: 'Активные', onclick: 'filterPosts("active")', icon: 'bi bi-check-circle' },
                { text: 'Заблокированные', onclick: 'filterPosts("blocked")', icon: 'bi bi-x-circle' }
            ]
        }
    title Управление публикациями

block content
    .container-fluid
        .row
            .col-12
                h1.my-4 Управление публикациями

                .table-responsive
                    table.table.table-striped.table-hover
                        thead
                            tr
                                th ID
                                th Автор
                                th Содержание
                                th Дата создания
                                th Статус
                                th Действия
                        tbody#postsTableBody

    #viewPostModal.modal.fade(tabindex="-1")
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    h5.modal-title Просмотр публикации
                    button.btn-close(type="button" data-bs-dismiss="modal")
                .modal-body
                    input#viewPostId(type="hidden")
                    .mb-3
                        strong Автор:
                        span#viewPostAuthor.ms-2
                    .mb-3
                        strong Дата создания:
                        span#viewPostDate.ms-2
                    .mb-3
                        strong Содержание:
                        p#viewPostContent.mt-2.p-3.bg-light.rounded
                    .mb-3
                        strong Статус:
                        span#viewPostStatus.badge.ms-2
                .modal-footer
                    button.btn.btn-success#activatePostBtn Активировать
                    button.btn.btn-danger#blockPostBtn Заблокировать
                    button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Закрыть
