include ../components/navbar.pug

doctype html
html(lang="en")
    head
        block variables
            - const activeTitle = ''
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="@assets/favicon.svg" type="image/svg+xml")
        title= activeTitle ? activeTitle + ' - Панель Администратора' : 'Панель Администратора'
        block head

    body
        +navbar(navbarOptions, activeTitle)
        main
            block content