extends layout

block variables
    - const activeTitle = 'Новости'

block head
    script(src='../../ts/posts-page.ts' defer)

block content
    .container.py-4
        h2.mb-4 Новости
        #postsList
        hr
        h5.mb-3 Создать новость
        form#createPostForm
            .mb-2
                textarea.form-control#postContent(rows='3' placeholder='Текст новости' required)
            .mb-2
                input.form-control#postImage(type='text' placeholder='Ссылка на изображение (опционально)')
            .text-end
                button.btn.btn-primary(type='submit') Опубликовать
