.layout {
    &__sidenav {
        width: 300px;
        display: flex;
        flex-direction: column;
    }

    &__content {
        height: 100dvh;
    }

    &__sidenav-spacer {
        flex-grow: 1;
    }
}