// _mixins.scss: Миксины для повторяющихся стилей
@mixin border-radius($radius: $border-radius) {
  border-radius: $radius;
}

@mixin box-shadow($shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075)) {
  box-shadow: $shadow;
}

@mixin transition($property: all, $duration: 0.15s, $ease: ease-in-out) {
  transition: $property $duration $ease;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover {
    color: $color;
    background-color: darken($background, 7.5%);
    border-color: darken($border, 10%);
  }

  &:focus {
    color: $color;
    background-color: darken($background, 7.5%);
    border-color: darken($border, 10%);
    @include box-shadow(0 0 0 0.2rem rgba($border, 0.5));
  }
}

@mixin media-breakpoint-up($name) {
  $min: map-get((xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px), $name);
  @if $min != null {
    @media (min-width: $min) {
      @content;
    }
  }
}

@mixin media-breakpoint-down($name) {
  $max: map-get((xs: 575.98px, sm: 767.98px, md: 991.98px, lg: 1199.98px, xl: 1399.98px), $name);
  @if $max != null {
    @media (max-width: $max) {
      @content;
    }
  }
}