doctype html
html(lang="en")
head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='icon' type='image/x-icon' href='/favicon.ico')
    link(rel='stylesheet' href='/css/w3.css')
    link(rel='stylesheet' href='/vendor/fontawesome/css/all.min.css')
    title Сессия
body
    header.w3-bar.w3-teal.w3-center
        a.logo(href="/books")
            i.fa.fa-book.fa-4x.w3-bar-item
            div.w3-bar-item
                h1 Онлайн Библиотека
main.w3-container.w3-main
