doctype html
html(lang="en")
head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='icon' type='image/x-icon' href='/favicon.ico')
    link(rel='stylesheet' href='/css/w3.css')
    link(rel='stylesheet' href='/vendor/fontawesome/css/all.min.css')
    title Регистрация
body
    section
    label(for="username") Имя пользователя
    input#username(name="username" type="text" autocomplete="username" required)
    section
    label(for="password") Пароль
    input#password(name="password" type="password" autocomplete="new-password" required)
    button(type="submit") Зарегистрироваться