mixin navbar(menuItems = [], opts = {})
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
            a.navbar-brand(href="/") Социальная сеть
            button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav.me-auto.mb-2.mb-lg-0
                    each item in menuItems
                        - const isActive = opts.active === item.href
                        li.nav-item
                            a.nav-link(class=isActive ? 'active' : '', href=item.href)= item.title
                if opts.user
                    ul.navbar-nav
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(href="#" id="userMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false") #{opts.user.name}
                            ul.dropdown-menu(aria-labelledby="userMenu")
                                li: a.dropdown-item(href="/profile") Профиль
                                li: a.dropdown-item(href="/logout") Выйти
