mixin sidebar(activeLink)
    .sidebar.bg-dark.text-white.p-3
        .sidebar-header.mb-4
            h5.text-center
                i.bi.bi-speedometer2
                |  Панель управления

        ul.nav.flex-column
            li.nav-item
                a.nav-link(href="/users" class=(activeLink === 'users' ? 'active' : ''))
                    i.bi.bi-people-fill
                    |  Пользователи
            li.nav-item
                a.nav-link(href="/posts" class=(activeLink === 'posts' ? 'active' : ''))
                    i.bi.bi-file-text
                    |  Публикации
            li.nav-item
                a.nav-link(href="/friends" class=(activeLink === 'friends' ? 'active' : ''))
                    i.bi.bi-person-hearts
                    |  Друзья
            li.nav-item
                a.nav-link(href="/messages" class=(activeLink === 'messages' ? 'active' : ''))
                    i.bi.bi-chat-dots
                    |  Сообщения
