.create-post-card {
    display: flex;
    flex-direction: column;
    width: 500px;

    &__header {
        margin-bottom: 1rem;
    }

    &__field {
        width: 100%;
    }

    &__actions {
        display: flex;
        gap: 0.5rem;
        justify-content: flex-end;
    }
}