.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    &__header {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    &__avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

    }

}